body {
    position: relative;
}
.ui.borderless.menu.social-media {
    background-color: black;
    border: none;
    box-shadow: none;
    padding-top: 10px;
    padding-bottom: 10px;
}

.ui.borderless.menu.car {
    padding-top: 10px;
    padding-bottom: 10px;
}

.ui.fixed.top{
    background-color: white;
    opacity: 1;
}

.white-circle {
    font-size: 10px;
}

.ui.huge.header.large-model {
    font-size: 40px;
}
.ui.fixed.sticky + p {
    margin-top: 39px;
}

a > .white-circle {
    font-size: 30px;
}

.ui.four.column.grid {
    padding-top: 20px;
}

.ui.container > .ui.container.supra {
    height: 400px;
}

.ui.center.aligned.container.front-supra > .center{
    padding: 3.125em 0 8.125em 0;
}
.ui.big.button.shop-supra {
    background-color: white;
    color: black;
}

.ui.center.aligned.container.front-supra {
}

.columns > .ui.container.front-supra {
    background-image: url("https://www.toyotahawaii.com/on/demandware.static/-/Sites-ToyotaHawaii-Library/default/dw6d8599a3/v2/model/GRSupra/feature/22_Supra_Barker_1280x480.jpg");
    opacity: 0.8;
    color: white;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}

.circle > a > .white-circle {
    display: block;
    height: 40px;
    width: 40px;
    border-radius: 40px;
    line-height: 40px;
    background-color: white;
    color: black;
    text-align: center;
    font-size: 2em;
}

.ui.four.column.grid {
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 1);
    color: white;
}
.ui.grid.inside-supra > .column.based {
    background-color: rgba(0, 0, 0, 0.8); color: white; height: 183px;
}

.ui.grid.super-supra > .column.based {
    background-color: rgba(0, 0, 0, 0.8); color: white; height: 183px;
}
.ui.grid.super-supra {
    background-image: url("https://www.toyotahawaii.com/on/demandware.static/-/Sites-ToyotaHawaii-Library/default/dwd7d793e5/v2/model/GRSupra/feature/MY21-Supra-Beautifully-Engineered_1594257744_5f067150b8b73.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
}

.ui.grid.inside-supra {
    background-image: url("https://www.toyotahawaii.com/on/demandware.static/-/Sites-ToyotaHawaii-Library/default/dw77904a95/v2/model/GRSupra/feature/20MY_Supra_Interior_1566415904_5d5d9c200c74b.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
}

.exterior.background {
    background-image: url("https://www.toyotahawaii.com/on/demandware.static/-/Sites-ToyotaHawaii-Library/default/dwb5902ba5/v2/model/GRSupra/gallery/MY20_Supra_Ext-1_MY20_Supra_Ext-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 600px;
}
.interior.background {
    background-image: url("https://www.toyotahawaii.com/on/demandware.static/-/Sites-ToyotaHawaii-Library/default/dw3bc1d411/v2/model/GRSupra/gallery/22_Supra_Int1_1499x522.jpg");
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    height: 600px;
}
.white-text {
    margin-left: 8%;
    color: white;
}
.medium-small {
    width: 203px;
}

span.disc {
    color: red;
    cursor: pointer;
    position: relative;
    z-index: 2;
    font-size: 70%;
    vertical-align: super;
}

.ui.medium.red.header.modal-link {
    text-decoration: underline;
}

/*CUSTOM WIDTH FOR UI CONTAINER */
.ui.container {
    width: 1498px;
}

.ui.grid.container {
    width: calc( 1498px  +  2rem ) !important;
}

.ui.relaxed.grid.container {
    width: calc( 1498px  +  3rem ) !important;
}

.ui.very.relaxed.grid.container {
    width: calc( 1498px  +  5rem ) !important;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .ui.container {
        width: 1498px;
    }

    .ui.grid.container {
        width: calc( 1498px  +  2rem ) !important;
    }

    .ui.relaxed.grid.container {
        width: calc( 1498px  +  3rem ) !important;
    }

    .ui.very.relaxed.grid.container {
        width: calc( 1498px  +  5rem ) !important;
    }
}